---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section id="technologies">
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title> Nuestras tecnologías </Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/javascript.svg"
          width="100"
          height="60"
          alt="javascript"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/typescript-icon.svg"
          width="100"
          height="60"
          alt="typescript"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/html.png"
          width="100"
          height="60"
          alt="html-css"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/wordpress-icon.svg"
          width="100"
          height="60"
          alt="wordpress"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/woocommerce-icon.svg"
          width="100"
          height="60"
          alt="woocommerce"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/React.png"
          width="100"
          height="60"
          alt="react"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/vite.png"
          width="100"
          height="60"
          alt="vitejs"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/astro1.png"
          width="100"
          height="60"
          alt="astro"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/node1.png"
          width="100"
          height="60"
          alt="nodejs"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>   
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/nestjs.svg"
          width="100"
          height="60"
          alt="nestjs"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/mysql.svg"
          width="100"
          height="60"
          alt="mysql"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/postgresql.png"
          width="100"
          height="60"
          alt="postgreSQL"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/mongodb.svg"
          width="100"
          height="60"
          alt="mongodb"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
      class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
    >
      <img
        src="/logos/aws.svg"
        width="100"
        height="60"
        alt="aws"
        class="h-7 sm:h-10 w-auto group-hover:scale-105"
      />
    </div>
    
      <div
        class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
      >
        <img
          src="/logos/firebase2.png"
          width="100"
          height="60"
          alt="firebase"
          class="h-7 sm:h-10 w-auto group-hover:scale-105"
        />
      </div>
      <div
      class="dark:bg-tech-box-bg p-4 sm:p-5 rounded-xl border border-box-border group"
    >
      <img
        src="/logos/cloudinary.png"
        width="100"
        height="60"
        alt="cloudinary"
        class="h-7 sm:h-10 w-auto group-hover:scale-105"
      />
    </div>
    </div>
  </Container>
</section>
