---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
---

<section id="cta">
  <Container>
    <div
      class="w-full relative flex flex-col justify-center items-center py-10 lg:px-6 px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div
          class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
        >
          <span
            class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
          ></span>
        </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div
          class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl"
        >
          <span
            class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
          ></span>
          <span
            class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
          ></span>
        </div>
      </div>
      <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <header
          class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight
          font-bold text-heading-1"
        >
          Transforma tu visión<br /><span
            class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600"
            >En un proyecto web de alto impacto</span
          >
        </header>
        <p class={"pt-10 text-lg sm:text-2xl text-heading-3"}>
          Lleva a tu marca más allá de las expectativas.
          <br /><b>Creamos experiencias digitales que inspiran y convierten.</b>
          <br /><br />¡Descubre lo que podemos hacer por ti!
        </p>
        <div class="mx-auto max-w-md sm:max-w-xl pt-6">
          <a
            href="/contact"
            class="bg-blue-800 hover:bg-blue-950 text-white font-semibold py-4 lg:px-20 px-14 mt-8 rounded-full focus:outline-none focus:shadow-outline"
          >
            Contáctanos
          </a>
        </div>
      </div>
    </div>
  </Container>
</section>
