---
import Container from "../shared/Container.astro";
---

<Container>
    <section id="#faq" class=" dark:text-white dark:to-gray-800 p-6 py-16 mx-auto rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-950 ">
    
    <header class="flex justify-center">
      
      <p class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">FAQ's</p>
    </header>

<div class="text-left lg:w-[50%] mx-auto text-heading-3">

    <details class="mt-8 border-b border-b-slate-400 pb-4">
      <summary class="font font-semibold cursor-pointer">
        ¿Cuál es el precio de una página web?
      </summary>
      <p class="mt-3 p-4 text-sm">El precio de una página web dependerá de la tecnología, funciones y requerimientos de diseño.
        Crear una página web profesional exige muchas horas de dedicación.
        Algunos aspectos que afectan al precio de una página web:
        <ul class="p-4 pt-2 text-sm">
          <li ><span>&#10148;</span> Si va a tener un diseño web a medida o es una plantilla prediseñada. Nosotros sólo hacemos proyectos con diseño web a medida.</li>
          <li class="mt-2"><span>&#10148;</span>  Contenido, integraciones y funcionalidades que va a tener la página web.</li>
          <li class="mt-2"><span>&#10148;</span>  Nivel de autogestión que el cliente desea. Lo óptimo es que el sitio cuente con un gestor de contenidos (CMS), para mayor autonomía de los administradores.</li>
        </ul>
        <p class="p-4">Contáctanos para recibir una cotización de tu idea totalmente gratis.</p>
        </p>
    </details>

    <details class="mt-4 border-b border-b-slate-400 pb-4">
      <summary class="font font-semibold cursor-pointer">
        ¿Cuánto se tarda en hacer una página web?
      </summary>
      <p class="mt-3 p-4 text-sm">Una página web profesional supone un mínimo entre 4 a 6 semanas, y a partir de ahí dependerá de la dificultad del proyecto.
        <br>Las fases de una página web son:</p>
        <ul class="p-4 text-sm">
          <li>
            <b>1.</b> Estudio de las necesidades del proyecto que traiga el cliente para tener un completo entendimiento de los objetivos.
          </li>
           <li>
             <b>2.</b> Investigación y análisis de la competencia, del público objetivo y del mercado en general.
         </li>
          <li>
            <b>3.</b> Arquitectura de la información y user flow.
          </li>
          <li>
            <b>4.</b> Fase de diseño web y prototipado.
          </li>
          <li>
            <b>5.</b> La programación de la página web.
          </li>
          <li>
            <b>6.</b> Control de calidad de la página web, despliegue y publicación. 
          </li>
        </ul>
        </p>
    </details>

    <details class="mt-4 border-b border-b-slate-400 pb-4">
      <summary class="font-semibold cursor-pointer">
        ¿Hacen los sitios en WordPress?
      </summary>
      <p class="mt-3 p-4 text-left text-sm">
        No.
        Nuestro sitios son desarrollados íntegramente por nosotros, resultando en diseños únicos y a la medida
del cliente.
<br>Utilizamos las mejores tecnologías de desarrollo para obtener sitios rápidos, modernos y seguros. 
      </p>
    </details>
    
    <details class="mt-4">
      <summary class="font-semibold cursor-pointer">
        ¿Toman clientes de cualquier parte del mundo?
      </summary>
      <p class="mt-3 p-4 text-left text-sm">
        Así es. Gracias a la tecnología, hoy es posible expandir nuestros servicios digitales a todo el mundo.<br>
Ademas, nuestro equipo esta integrado por desarrolladores y diseñadores de América y Europa con años de experiencia en áreas comerciales,
administrativas, de marketing, legales, y mas, lo que nos permite abrazar distintas perspectivas que enriquecen el desarrollo. 
Apostamos a la diversidad para alcanzar soluciones innovadoras y creativas para cada mercado.
      </p>
    </details>
  </div>
</section>
</Container>