---
import Container from '../shared/Container.astro'
const locationIcon =
  'https://res.cloudinary.com/dxsosgojl/image/upload/v1730984263/icons8-location-96_oojugd.png'
const emailIcon =
  'https://res.cloudinary.com/dxsosgojl/image/upload/v1730984261/icons8-email-96_wkzedg.png'
const phoneIcon =
  'https://res.cloudinary.com/dxsosgojl/image/upload/v1730984260/icons8-phone-96_zi8xr7.png'
---

<section id='contact' class='relative pt-36 sm:pt-40 lg:pt-44'>
  <Container>
    <div
      class='flex flex-col lg:flex-row w-full relative justify-center items-start py-10 lg:px-6 px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 gap-4 dark:from-gray-900'
    >
      <div class='w-full lg:w-1/2 p-4'>
        <h2
          class='text-lg/tight sm:text-xl/tight md:text-2xl/tight
        font-bold text-heading-1 mb-4'
        >
          Envíanos un mensaje
        </h2>
        <form
          action='https://formsubmit.co/wwizard.lab@gmail.com'
          method='POST'
          class='space-y-4'
        >
          <input
            type='text'
            id='nombre'
            name='nombre'
            placeholder='Tu Nombre'
            required
            class='w-full p-3 bg-transparent border-b border-gray-700 text-heading-1 focus:outline-none'
          />
          <input
            type='email'
            id='email'
            name='email'
            placeholder='Tu Email'
            required
            class='w-full p-3 bg-transparent border-b border-gray-700 text-heading-1 focus:outline-none'
          />
          <input
            type='text'
            id='subject'
            name='subject'
            placeholder='Asunto'
            required
            class='w-full p-3 bg-transparent border-b border-gray-700 text-heading-1 focus:outline-none'
          />
          <textarea
            id='mensaje'
            name='mensaje'
            rows='4'
            placeholder='Tu Mensaje'
            required
            class='w-full p-3 bg-transparent border-b border-gray-700 text-heading-1 focus:outline-none'
          ></textarea>

          <button
            type='submit'
            class='w-full bg-blue-600 hover:bg-blue-700 text-white py-3 font-semibold rounded-full mt-6'
          >
            Enviar
          </button>

          <!-- Campos ocultos para configuración adicional -->
          <input
            type='hidden'
            name='_next'
            value='https://www.webwizardlab.com'
          />
          <input type='hidden' name='_captcha' value='true' />
          <input type='hidden' name='_template' value='table' />
          <input
            type='hidden'
            id='subject-field'
            name='_subject'
            value='Tienes un nuevo mensaje desde webwizardlab.com'
          />
          <input
            type='hidden'
            name='_autoresponse'
            value='Hola! Recibimos tu consulta. Gracias por comunicarte con WebWizard Lab! En las próximas 48 horas hábiles nos estaremos comunicando con novedades. Te deseamos un bonito día :)'
          />
        </form>
      </div>
      <div class='w-full lg:w-1/2 p-4'>
        <h2
          class='text-lg/tight sm:text-xl/tight md:text-2xl/tight
        font-bold text-heading-1 mb-4'
        >
          Información de contacto
        </h2>
        <p class='mb-4 text-heading-1 text-lg'>
          <strong>WebWizard Lab</strong>
        </p>
        <div class='w-full flex justify-start items-center mb-4 gap-6 p-2'>
          <div
            class='rounded-xl lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-3 text-heading-1 w-max relative'
          >
            <span slot='icon'>
              <img src={locationIcon} width={30} height={30} alt='ubicación' />
            </span>
          </div>
          <p class='text-gray-600 dark:text-gray-200 text-lg text-center'>
            Sant Jaume 29, Arbucies 17401, Girona, España
          </p>
        </div>
        <div class='w-full flex justify-start items-center mb-4 gap-6 p-2'>
          <div
            class='rounded-xl lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-3 text-heading-1 w-max relative'
          >
            <span slot='icon'>
              <img src={emailIcon} width={30} height={30} alt='email' />
            </span>
          </div>
          <p class='text-gray-600 dark:text-gray-200 text-lg text-center'>
            <a
              href='mailto:hola@webwizardlab.com'
              class='text-blue-500 hover:underline'>hola@webwizardlab.com</a
            >
          </p>
        </div>
        <div class='w-full flex justify-start items-center mb-4 gap-6 p-2'>
          <div
            class='rounded-xl lg:mx-0 mx-auto bg-gray-100 dark:bg-gray-950 p-3 text-heading-1 w-max relative'
          >
            <span slot='icon'>
              <img src={phoneIcon} width={30} height={30} alt='teléfono' />
            </span>
          </div>
          <p class='text-gray-600 dark:text-gray-200 text-lg text-center'>
            (+54) 123 4567 890
          </p>
        </div>
      </div>
    </div>
  </Container>
</section>

<script>
  // Selecciona los campos de nombre y asunto
  const nombreInput = document.getElementById('nombre') as HTMLInputElement
  const subjectField = document.getElementById(
    'subject-field'
  ) as HTMLInputElement

  // Actualiza el campo _subject con el nombre ingresado
  nombreInput?.addEventListener('input', () => {
    subjectField.value = `Tienes un nuevo mensaje de ${nombreInput.value} desde webwizardlab.com`
  })
</script>
