---
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";

---

<section>
	<div class="flex flex-col">
		<img src="https://nserc-hi-am.ca/2023/wp-content/uploads/sites/21/2022/04/285-2855863_a-festival-celebrating-tractors-round-profile-picture-placeholder.png" 
			alt="profile picture">
		<Title>Name</Title>
		<Paragraph>Lead dev</Paragraph>
		<div>
			<img src="" alt="">
		</div>
	</div>
</section>