---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import PlanesCard from "../cards/PlanesCard.astro";
import Button from "../shared/Button.astro";

const redirect = () =>{
    console.log("reenvia al form")
}

const mobilePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683213/undraw_mobile_posts_re_bpuw_sdmwgr.svg"
const crmPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683217/undraw_people_search_re_5rre_wm0njl.svg"
const corpPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683206/undraw_building_websites_i78t_nehbtg.svg"
const landingPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683212/undraw_mobile_development_re_wwsn_ybytko.svg"
const ecommercePic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683221/undraw_web_shopping_re_owap_hv34cv.svg"
const ideaPic = "https://res.cloudinary.com/dxsosgojl/image/upload/v1696683209/undraw_lightbulb_moment_re_ulyo_uhgt43.svg"
---


<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto ">
      <Title>Planes</Title>
      <!-- <Paragraph>
        Cuando se decide crear un sitio web, es común que el cliente no tenga
        una visión clara de lo que necesita y por dónde empezar. Por lo tanto,
        es esencial organizar reuniones entre el cliente y los desarrolladores
        para comprender la idea correctamente. Esto ahorra tiempo, recursos y
        dinero.
      </Paragraph> -->
      <p class="pt-10 text-xl text-heading-3 pb-2">
        <b>Todos nuestros planes incluyen: </b>
    </p>
      <Paragraph className="pt-0 ">
          Hosting y Dominio por 1 año <b>(la renovación corre por cuenta del cliente después del primer año)</b>.<br> Cestificado SSL gratis.<br>Sitio protegido con Antivirus.
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        <div class="p-5 h-full sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
            <div class="p-2 text-heading-1 flex h-10/100">
                <h2 class="md:text-lg font-bold text-heading-2 mb-2 text-center"> Landing page </h2>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512 " stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5" width="30">
                    <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
                </svg>  
            </div>

            <div>
                <Paragraph className="text-center h-1/6 pb-3"> Optimiza los resultado de tus campañas publicitarias con tu Landing Page Profesional </Paragraph>                     
            <Paragraph className="h-3/5">
                - 1 Cuenta Corporativa<br>
                - Diseño profesional, moderno y llamativo.<br>
                - Banner principal con movimiento.<br>
                - Redacción de textos persuasivos.<br>
                - SEO amigable(<b>escala tu posición en Google</b>).<br> 
                - Búsqueda y compra de imágenes.<br>
                - Banner de testimonios.<br>
                - Formulario para captura de Leads.<br>
                - Botón de WhatsApp y de llamada.<br>
                - Integración con redes sociales.<br>
                - Integración con Google Analytics.<br>
                - Contenido 100% Editable.<br>
                - Diseño ideal para Google Ads.<br>
                - 1 reunión de diseño de la página web.<br>
                - 1 reunión de capacitación de uso de la página web.
            </Paragraph>            
            </div>
            
            <div class="text-center">
                <Paragraph className="text-center p-2"><b>Sin pago de mensualidad por administración</b></Paragraph>
                <Button onClick={()=> redirect()} variant={"primary"}>
                  <span class="text-white relative z-[5]">Contáctanos</span>
                </Button>
            </div>
    </div>
   <!-- Card 2 -->
   <div class="p-5 h-full sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
    <div class="p-2 text-heading-1 flex h-10/100">
        <h2 class="md:text-lg font-bold text-heading-2 mb-2 text-center"> Catálogo Web </h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512 " stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5" width="30">
                <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
            </svg>  
        </div>

        <div>
            <Paragraph className="text-center h-1/6 pb-3"> Muestra tus servicios y/o productos con tus formas de contacto.</Paragraph>                     
        <Paragraph className="h-3/5">
            - Configuración inicial de 20 unidades, <b>luego puedes cargar todos los que quieras.</b><br>
            - Integración de la página web a redes sociales.<br>
            - 2 cuentas de correo corporativo.<br>
            - Perfil de usuario, perfil de administrador (<b>máximo 2 vistas de usuario y 2 vistas de admin</b>).<br>
            - 3 filtrados principales.</b>).<br> 
            - Contenido 100% Editable.<br>
            - Diseño ideal para Google Ads.<br>
            - 2 reunión de diseño de la página web.<br>
            - 1 reunión de capacitación de uso de la página web.
        </Paragraph>
        </div>
        
        <div class="text-center mt-20">
            <Paragraph className="text-center p-2"><b>Sin pago de mensualidad por administración</b></Paragraph>
                        <Button variant={"primary"}>
              <span class="text-white relative z-[5]">Contáctanos</span>
            </Button>
        </div>
</div>

<!-- Card 3 -->
<div class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
    <div class="p-2 text-heading-1 flex h-10/100">
        <h2 class="md:text-lg font-bold text-heading-2 mb-2 text-center"> E-commerce </h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512 " stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5" width="30">
            <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
        </svg>  
    </div>
    <div>
        <Paragraph className="text-center h-15/100 pb-3"> Una tienda completa  con carro de compras, pasarela de pago y métodos de envio.</Paragraph>                     
    <Paragraph className="h-3/5">
        - Configuración inicial de 20 unidades, <b>luego puedes cargar todos los que quieras.</b><br>
        - Integración de la página web a redes sociales.<br>
        - 5 cuentas de correo corporativo.<br>
        - Carro de compras.<br>
        - Pasarela de pago a elección.<br>
        - Perfil de usuario, perfil de administrador (<b>máximo 5 vistas de usuario y 2 vistas de admin</b>).<br> 
        - Gestión de stock y ventas.<br>
        - 5 filtrados principales, puedes agregar filtros adicionales por solo 9,99$ c/u.<br>
        - Contenido 100% Editable.<br>
        - 1 reunión de diseño de la página web.<br>
        - 1 reunión de capacitación de uso de la página web.
    </Paragraph>
    </div>
    
    <div class="text-center mt-5">
        <Paragraph className="text-center p-2"><b>Sin pago de mensualidad por administración</b></Paragraph>
        <Button variant={"primary"}>
          <span class="text-white relative z-[5]">Contáctanos</span>
        </Button>
    </div>
</div>
      <!-- Card 4 -->
      <div class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
        <div class="p-2 text-heading-1 flex h-10/100">
            <h2 class="md:text-lg font-bold text-heading-2 mb-2 text-center">Gestión de citas</h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512 " stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5" width="30">
                <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
            </svg>  
        </div>
        <div>
            <Paragraph className="text-center h-1/6 pb-3"> Presenta tus servicios y/o productos con tus formas de contacto. Además, cuenta con una agenda en línea donde tus clientes podrán reservar su cita.</Paragraph>                     
        <Paragraph className="h-3/5">
            - Configuración inicial de 20 unidades, <b>luego puedes cargar todos los que quieras.</b><br>
            - Integración de la página web a redes sociales(WhatsApp, Instagram, Facebook).<br>
            - 2 cuentas de correo corporativo.<br>
            - Contenido 100% Editable.<br>
            - 2 reunión de diseño de la página web.<br>
            - 1 reunión de capacitación de uso de la página web.
        </Paragraph>
        </div>
        
        <div class="text-center mt-44">
            <Paragraph className="text-center p-2"><b>Sin pago de mensualidad por administración</b></Paragraph>
            <Button variant={"primary"}>
              <span class="text-white relative z-[5]">Contáctanos</span>
            </Button>
        </div>
</div>
<!-- Card 5 -->
<div class="h-full p-3 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
    <div class="p-2 text-heading-1 flex h-10/100">
            <h2 class="md:text-lg font-bold text-heading-2 mb-2 text-center"> Web corporativa </h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512 " stroke-width="1.5" stroke="currentColor" class="w-4 h-4 sm:w-5 sm:h-5" width="30">
            <path d="M160 0c17.7 0 32 14.3 32 32V67.7c1.6 .2 3.1 .4 4.7 .7c.4 .1 .7 .1 1.1 .2l48 8.8c17.4 3.2 28.9 19.9 25.7 37.2s-19.9 28.9-37.2 25.7l-47.5-8.7c-31.3-4.6-58.9-1.5-78.3 6.2s-27.2 18.3-29 28.1c-2 10.7-.5 16.7 1.2 20.4c1.8 3.9 5.5 8.3 12.8 13.2c16.3 10.7 41.3 17.7 73.7 26.3l2.9 .8c28.6 7.6 63.6 16.8 89.6 33.8c14.2 9.3 27.6 21.9 35.9 39.5c8.5 17.9 10.3 37.9 6.4 59.2c-6.9 38-33.1 63.4-65.6 76.7c-13.7 5.6-28.6 9.2-44.4 11V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.1c-.4-.1-.9-.1-1.3-.2l-.2 0 0 0c-24.4-3.8-64.5-14.3-91.5-26.3c-16.1-7.2-23.4-26.1-16.2-42.2s26.1-23.4 42.2-16.2c20.9 9.3 55.3 18.5 75.2 21.6c31.9 4.7 58.2 2 76-5.3c16.9-6.9 24.6-16.9 26.8-28.9c1.9-10.6 .4-16.7-1.3-20.4c-1.9-4-5.6-8.4-13-13.3c-16.4-10.7-41.5-17.7-74-26.3l-2.8-.7 0 0C119.4 279.3 84.4 270 58.4 253c-14.2-9.3-27.5-22-35.8-39.6c-8.4-17.9-10.1-37.9-6.1-59.2C23.7 116 52.3 91.2 84.8 78.3c13.3-5.3 27.9-8.9 43.2-11V32c0-17.7 14.3-32 32-32z"/>
        </svg>  
    </div>

    <div>
        <Paragraph className="text-center h-20/100 pb-3"> Diseñaremos un sitio web informativo </Paragraph>                     
        <Paragraph className="h-3/4">
            - 5 Cuenta de correo Corporativa<br>
            - Diseño profesional, moderno y llamativo.<br>
            - 4 Banners principales con movimiento.<br>
            - 7 páginas internas definidas(<b>Inicio, Nosotros...</b>).<br>
            - Pestaña de Blog/Noticias.<br>
            - SEO amigable(<b>escala tu posición en Google</b>).<br> 
            - Búsqueda y compra de imagenes.<br>
            - Galeria de fotos y videos.<br>
            - Carrusel de testimonios.<br>
            - Formulario de contacto.<br>
            - Botón de WhatsApp y de llamada.<br>
            - Instalación de chat.<br>
            - Integración con redes sociales.<br>
            - Integración de Google Maps.<br>
            - Integración con Google Analytics.<br>
            - Contenido 100% Editable.<br>
            - Diseño ideal para Google Ads.<br>
            - 1 reunión de diseño de la página web.<br>
            - 1 reunión de capacitación de uso de la página web.
        </Paragraph>
    </div>
   
    <div class="text-center mt-4">
        <Paragraph className="text-center p-2"><b>Sin pago de mensualidad por administración</b></Paragraph>
        <Button variant={"primary"}>
          <span class="text-white relative z-[5]">Contáctanos</span>
        </Button>
    </div>
</div>
<!-- Card 6 -->
<div class="p-5 sm:p-6 lg:p-8  relative overflow-hidden">
    <Paragraph className="pt-36 text-center"> <b class="text-4xl text-extraBold ">CRM</b><br>
        <b class="text-3xl">Proyectos personalizados</b><br>
        <b class="text-3xl">Soporte técnico</b>
    </Paragraph>                     

    <div class="pt-7 text-center pb-16 ">
        <Button variant={"primary"}>
          <span class="text-white relative z-[5]">Contáctanos</span>
        </Button>
    </div>
</div>
    </div>
  </Container>
</section>