---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section id="portfolio">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Portfolio</Title>
    </div>

    <div class="w-screen overflow-hidden relative">
      <div class="flex overflow-x-auto scroll-snap-type-y: mandatory">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1696785116/PortfolioWebWizard/Resto_g5xzcg.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1696739326/PortfolioWebWizard/FlayWay_arop2e.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1696743395/PortfolioWebWizard/Glass_jztqca.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1696739326/PortfolioWebWizard/Sport_yq1qpr.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1696739326/PortfolioWebWizard/Nails_bhvpsq.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1697336847/PortfolioWebWizard/Mobiliario_di5vun.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1697344838/PortfolioWebWizard/Dash_1_vufjau.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1697336847/PortfolioWebWizard/Desing_cbeogv.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1697346907/PortfolioWebWizard/Dash_2_cuerxm.png" alt="">
        <img class="w-screen h-600 object-cover scroll-snap-align: start animate-carousel" src="https://res.cloudinary.com/dxsosgojl/image/upload/v1697340548/PortfolioWebWizard/Moda_ynlu2u.png" alt="">
      </div>
    </div>
    
  </Container>
</section>
<style>
  @keyframes auto-scroll {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-200%); }
  40% { transform: translateX(-400%); }
  60% { transform: translateX(-600%); }
  80% { transform: translateX(-800%); }
  
 
}

.animate-carousel {
  animation: auto-scroll 50s linear infinite; /* Ajusta la duración y el tiempo aquí */
}

</style>
