---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import BtnLink from "../shared/BtnLink.astro";
---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Clientes que nos han elegido ...
            </Title>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-900">
                <h1 class="text-xl font-semibold mb-2 text-black dark:text-white">Wanderlust - Agencia de Viajes</h1>
                <a href="https://wanderlust-phi.vercel.app/">
                    <img src="https://i.postimg.cc/qvRgk5ZG/wanderlust2.png" alt="Imagen 1">
                </a>
            </div>
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-900">
                <h1 class="text-xl font-semibold mb-2 text-black dark:text-white">Agroseed - Junto al Campo</h1>
                <a href="https://agroseedservicios.com">
                    <img src="https://i.postimg.cc/ry1BfGNG/agroseed.png" alt="Imagen 2">
                </a>
            </div>
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-900">
                <h1 class="text-xl font-semibold mb-2 text-black dark:text-white">Crossing Borders - Indumentaria Deportiva</h1>
                <a href="https://crossing-borders.netlify.app/">
                    <img src="https://i.postimg.cc/mkyKhRgp/CB1.png" alt="Imagen 3">
                </a>
            </div>
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-900">
                <a href="https://www.hieloyelito.com/">
                    <h1 class="text-xl font-semibold mb-2 text-black dark:text-white">Yelito - Agua y Hielo</h1>
                    <img src="https://i.postimg.cc/brhKzdp2/yelito.png" alt="Imagen 4">
                </a>
            </div>
            <div class="w-full p-4 border border-gray-300 rounded-lg shadow-md dark:bg-gray-900">
                <a href="https://www.stop.com.ar/">
                    <h1 class="text-xl font-semibold mb-2 text-black dark:text-white">Stop - Mayorista</h1>
                    <img src="https://i.postimg.cc/RVCgqpCb/stop1.png" alt="Imagen 5">
                </a>
            </div>
            <div class="flex flex-col justify-center items-center ">
                <Title >
                    Quieres ser uno de <span class="font-bold">ellos</span>?
                </Title>
                <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                    <BtnLink text="Comienza Gratis" href="#cta" className="flex justify-center w-full sm:w-max" variant="primary"/>
                </div>
            </div>
            
            
              
            
            
        </div>
        
        
        
    </Container>
    
</section>



