---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";

type ServicesProps = {
    title: string;
    description: string;
    icon: string
};
---

<section id="services">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Rapid Prototyping & High-Tech R&D
            </Title>
            <Paragraph>
                At Teleios, we thrive on solving the hardest technical challenges in record time. Our interdisciplinary experts blend AI, data science, engineering, and domain-specific know-how to deliver tangible prototypes that drive real impact across mining, healthcare, defense, and gov-tech.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                services.map((service: ServicesProps) => {
                    return (
                        <Service title={service.title} description={service.description} icon={service.icon}>
                        </Service>
                    );
                })
            }
        </div>
    </Container>
</section>
