---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

const workflow = "/images/workflow.png";
---

<section id="about">
  <Container
    className="bg-red-400 flex flex-col midmd:flex-row gap-10 lg:gap-12 p-0"
  >
    <div class="w-full flex gap-10 h-[40rem]">
      <div
        class="bg-cover bg-center w-1/2 scale-x-[-1]"
        style={`background-image: url(${workflow})`}
      >
      </div>
      <div class="bg-yellow-400 w-1/2 h-full flex flex-col justify-start items-start gap-8">
        <div class="p-0 flex flex-col justify-center items-start">
            <Title>
                Tu idea <b>convertida en realidad</b>
              </Title>
              <Paragraph className="mt-8">
                  Empezamos cada proyecto con una sencilla reuni칩n para conocer los objetivos de tu proyecto. Esto nos permite dise침ar una soluci칩n a tu medida, estimar los tiempos de ejecuci칩n y calcular el presupuesto necesario.
                </Paragraph>
        </div>
        
          <div class="bg-blue-400 sm:p-6 lg:p-8 h-[28rem] w-full sm:h-3/4 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"></div>
      </div>
    </div>
  </Container>
</section>
