---
import AboutHero from "../components/sections/AboutHero.astro";
import Brands from "../components/sections/Brands.astro";
import TeamGrid from "../components/sections/TeamGrid.astro";
import Container from "../components/shared/Container.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="WebWizard Lab | Agencia de desarrollo web - Nosotros">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <AboutHero />
    <TeamGrid/>
    <Brands />
  </main>
</Layout>
