---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/sections/CTA.astro";
import Form from "../components/sections/Form.astro";

---


<Layout title="WebWizard Lab | Agencia de desarrollo web - Nosotros">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Form/>
    
  </main>
</Layout>